---
import Layout from '../layouts/Layout.astro';
import ProjectsGrid from '../components/ProjectsGrid.astro';
---

<Layout title="Proyectos - Sebastian Almonacid" description="Proyectos que he construido a lo largo de mi carrera.">
  <main class="min-h-screen bg-transparent pt-12 pb-24">
    <ProjectsGrid />
  </main>
</Layout>